@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To The MiniProject</h1>
    <p>Go To The <a asp-controller="ResisterUser" asp-action="Login"> Login Page</a> Here.</p>
</div>
